<br>
<div class="container">
  <h1>Welcom to Kahoot's RobotParts Manager Catalogue</h1>
  <br>
  <br>
  <button class="btn btn-primary" (click)="refresh();"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>NAME</th>
      <th>Serial Number</th>
      <th>Manufacturer</th>
      <th>Weight</th>
      <th>Compatible Parts</th>
      <th>Do Some Stuff</th>
    </thead>
    <tbody>
      <tr *ngFor="let part of robotParts">
        <td>{{part.id}}</td>
        <td>{{part.name}}</td>
        <td>{{part.serialNumber}}</td>
        <td>{{part.manufacturer}}</td>
        <td>{{part.weight}}</td>
        <TD ALIGN="center">
          <select>        
               <option value="d1">dummyPart1</option>
               <option value="d2">dummyPart2</option>
               <option value="d3">dummyPart3</option>
               <option value="d4">dummyPart4</option>
          </select>
       </TD>        
       <td>
          <button id="btnRemove" class="btn btn-danger" (click)="delete(part);">Remove</button>&nbsp;
          <button class="btn btn-primary" (click)="update(part);">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <td>
    <button class="btn btn-primary" (click)="add(part);">Add</button>
  </td>
</div>