<br>
<h1>Add/Edit a new Robot Part</h1>

<br>
<div [hidden]="submitted">
<div class="container">
    <form (ngSubmit)="onSubmit()" #robotForm="ngForm">

    <div class="form-group">
      <label for="fid">Id</label>
      <input type="text" name="fid" class="form-control" [(ngModel)]="robotPart.id" disabled="true">
    </div>

    <div class="form-group">
      <label for="fname">Name</label>
      <input type="text" name="fname" class="form-control" [(ngModel)]="robotPart.name" required>
    </div>

    <div class="form-group">
      <label for="fserialNumber">SerialNumber</label>
      <input type="text" name="fserialNumber" class="form-control" [(ngModel)]="robotPart.serialNumber" required>
    </div>

    <div class="form-group">
      <label for="fmanufacturer">Manufacturer</label>
      <input type="text" name="fmanufacturer" class="form-control" [(ngModel)]="robotPart.manufacturer" required>
    </div>

    <div class="form-group">
      <label for="fweight">Weight</label>
      <input type="text" name="fweight" class="form-control" [(ngModel)]="robotPart.weight" required>
    </div>
    <br>
    <div class="form-group">
      <input type="submit" value="save" class="btn btn-success" [disabled]="!robotForm.form.valid">
    </div>


  </form>
</div>
</div>